<h1>hello</h1>

<!-- div centrale -->
<div>
  <!-- div contenant le chrono et le picto -->
  <div>

  </div>
  <!-- div contenant le zoom -->
  <div>

  </div>
</div>


<!-- footer -->
<div>
  <!-- partie haute du footer : chrono exo en cours plus button -->
  <div>
    <div>barre de progression</div>
    <%= link_to "Quitter", "#", class: "btn-2"  %>
  </div>
  <!-- partie basse : chrono total de la session -->
  <div>grosse barre de progression</div>
</div>
