// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$noir: #08050B;
$grisfonce: #707070;
$gris: #BBBBBB;
$grisclair: #D0D0D0;
$blanc: #F5F4F6;
$primary: #B67CFF;
$secondary: #00DBD8;
