/*classes pour la show de la session mode multi*/
.centrale{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px green solid;
  height: calc(100vh - 200px);
}
.wrap{
  display:flex;
  justify-content: center;
  align-items: center;

}
.zoom{
  border: 2px red solid;
  height: calc(100vh - 200px);
  img{
    width: calc((100vw - 494)/2);
    height: calc((100vh - 200px) /2);
  }
}
.centrale-gauche{
  height: calc(100vh - 200px);
  width: 494px;
  border: 2px black solid;
  background: #E4E4E4;
}
.picto{
  background: #E4E4E4;
  /*margin:40px 23px;*/
}
/*--------------------------------
------- css footer
--------------------------------*/
.footer{
  /*background: lightblue;*/
  height: 80px;
  margin: 20px auto;
  width: 100vw;
  padding: 0 100px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /*position: relative;*/
  /*align-items: center;*/
}
.footer-haut{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bar-exo{

}
.quitter{
  width:30%;
}
.footer-bas{
  width: 100%;
}
