.container-l-choice-session {
  width: 75%;
  margin: 0 auto;
}

body > div.container-l > h2 {
    font-weight: bold;
}

.cards_session {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

body > div > div.container-l-choice-session > h2:nth-child(1) {
  margin-top: 10px;
}


