body > div.container-l > h2 {
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 11px;
}

.cards_session {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

body > div > div.container-l > h2:nth-child(1) {
  margin-top: 10px;
}