
// SHOW USERS PROFIL

.container-l{
  width: 86%;
  margin: 0% auto;
}

.cover-user{
  position: relative;
  margin-bottom: 50px;
  img{
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
  }
  .text-cover-home {
    position: absolute;
    bottom: 15px;
    right: 40px;
    background: $grisclair;
    padding: 10px 24px;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      background-color: $grisfonce;
      p, i {
        color: $white;
      }
    }
  }
  i {
    color: $noir;
    font-size: 20px;
  }
}

.name-user{
  text-align: center;
}

.avatar-user{

  position: absolute;
  bottom: -35px;

  img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid $blanc;
    object-fit: cover;
  }
}


.container-s{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 94%;
  margin: 0% auto;

}

.container-calendrier {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.card-session-show-user {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-user-profil{
  ul{
    display: flex;
    margin: 30px;
  }
  a {
    font-size: 16px;
    font-weight: 300;
    color: $gris;
  }
}

.active {
  color: $primary;
}

.flatpickr-calendar {
  font-family: Nunito;
}

.flatpickr-day.today {
  border-color: #B67CFF;
  color: #B67CFF;
  &:hover {
    background-color: #B67CFF;
    color: $blanc;
    border-color: none;
  }
}

.choucroute {
  border: 1px solid $secondary;
  color: $secondary;
  &:hover {
    background-color: $secondary;
    color: $blanc;
  }
}

  .flatpickr-day.selected {
    background: linear-gradient(45deg, #B67CFF 0%, #7100FF 100%);
    color: $blanc;
    border: none;
    &:hover {
      background: linear-gradient(45deg, #B67CFF 0%, #7100FF 100%);
    }
  }

#session-form-div > label {
  display: none;
}

#date {
  display: none;
}

.nav-tabs .nav-link.active {
  color: #B67CFF;
  border: 2px solid;
  border-color: #B67CFF transparent transparent;
  &:hover {
    border-color: #B67CFF transparent transparent;
  }
}

.nav-tabs {
  border-bottom: none;
  border-top: 2px solid #d0d0d0;
}

.nav-tabs .nav-item {
    margin-top: -2px;
}

.nav-tabs .nav-link:hover {
  border-color: transparent;
}














