

 .user-card-index{
  position: relative;
  border-radius: 15px;
  height: 120px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #D0D0D0;
  transition: transform .3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;



  &:hover {
    transform: scale(1.02);
    transition: transform .3s ease;
  }
  img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: black;
    }

  }
}


.ask-friend {
  border: solid 1px rgb(0, 219, 216);
  border-radius: 15px;
  padding: 5px 10px;

  a{
    color: rgb(0, 219, 216);
  }


}



.user-list-index{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-gap: 35px;
}

.results-search{
  margin: 55px;
}

.search-btn {
  padding-top: 20px;
  border-radius: 15px;
  form {
    width: 20%;
    margin: auto;
    position: relative;
    &:before {
      content:"\f002";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    #requete {
      display: block;
      background-color: silver;
      font-size: 1rem;
      font-weight: 400;
      color: #495057;
      border-radius: 50px;
      padding-left: 35px;
    }
  }
}

