<div class="card-choice-session solo">
  <div id="solo" class="photo">
    <div class="gradiant-white">
      <h2>INDIVIDUELLE</h2>
    </div>
  </div>
  <div class="border-blue"></div>
  <div class="bg-blanc flex-b-e p-x-20">
    <div class="flex-g-1 stretch">
      <div class="flex-b-c">
        <i class="far fa-clock"></i>
        <p class="flex-g-1 p-l-10">Renseigne ton temps</p>
      </div>
      <div class="flex-b-c">
        <i class="fas fa-sliders-h"></i>
        <p class="flex-g-1 p-l-10">Renseigne ton niveau</p>
      </div>
      <div class="flex-b-c">
        <i class="fas fa-bullseye"></i>
        <p class="flex-g-1 p-l-10">Renseigne tes objectifs</p>
      </div>
    </div>
    <%= link_to "C'EST PARTI !", "#", class: "btn-2" %>
  </div>
</div>
