<div class="card-prev-session flex-b-c">
  <div class="photo">
    <div class="gradiant-white"></div>
  </div>
  <div class="content stretch">
    <div>
      <h4>Type d'exo</h4>
      <p>20 min | lun 4 aoû</p>
      <div class="flex-b-c width-100">
        <div class="level-bar"></div>
        <div class="level-bar"></div>
        <div class="level-bar"></div>
        <div class="level-bar"></div>
      </div>
    </div>
    <div>

    </div>
  </div>
  <div class="flex-g-1 right-part">
    <div class="fav">
      <i class="fas fa-heart"></i>
      <i class="far fa-heart"></i>
    </div>
    <div class="cercle-violet">
      <i class="fas fa-play"></i>
    </div>
  </div>
</div>
