<div class="card-choice-session multi">
  <div id="multi" class="photo">
    <div class="gradiant-white">
      <h2>SESSION COLLECTIVE</h2>
    </div>
  </div>
  <div class="border-blue"></div>
  <div class="bg-blanc flex-b-e p-x-5-0-15-0">
    <div class="flex-g-1 stretch">
      <div class="flex-b-c">
        <i class="fas fa-user-plus"></i>
        <p class="flex-g-1 p-l-5">Invite tes amis</p>
      </div>
      <div class="flex-b-c">
        <i class="far fa-clock"></i>
        <p class="flex-g-1 p-l-5">Renseigne ton temps</p>
      </div>
      <div class="flex-b-c">
        <i class="fas fa-sliders-h"></i>
        <p class="flex-g-1 p-l-5">Renseigne ton niveau</p>
      </div>
      <div class="flex-b-c">
        <i class="fas fa-bullseye"></i>
        <p class="flex-g-1 p-l-5">Renseigne tes objectifs</p>
      </div>
    </div>
    <%= link_to "SESSION COLLECTIVE", new_session_path(user_id: current_user.id), class: "btn-1" %>
  </div>
</div>
