<div class="card-choice-session">
  <div id="multi" class="photo">
    <div class="gradiant-white">
      <h2>COLLECTIVE</h2>
    </div>
  </div>
  <div class="border-violet"></div>
  <div class="bg-blanc flex-b-e p-x-5-0-15-0">
    <div class="flex-g-1 stretch">
      <p>1. Invite tes amis</p>
      <p>2. Renseigne ton temps</p>
      <p>3. Renseigne ton niveau</p>
      <p>4. Renseigne tes objectifs</p>
    </div>
    <%= link_to "COMMENCER", new_session_path(user_id: current_user.id), class: "btn-1" %>
  </div>
</div>
