<div id="navbar-home" class="container-l">
  <%= link_to root_path do %>
    <%= image_tag "wellbe-police-gourde-blanc.png", class: "logo" %>
  <% end %>
  <div class="flex-g-1">
    <div class="flex-b-c">
      <p class="p-l-40">Nutrition</p>
      <p class="flex-g-1 p-l-20">Blog</p>
    </div>
  </div>
  <%= link_to "CONNEXION", "#", class: "btn-3", id: "connexion" %>
</div>
