<div id="navbar_global">
  <%= link_to "WELLBE", sessions_choice_path  %>
  <div class="icone">
    <%= link_to current_user do %>
      <%= current_user.name %>
      <%= cl_image_tag current_user.avatar.key, class: 'avatar' %>
    <% end %>
    <div class="icone-style">
      <i class="fas fa-user-friends"></i>
    </div>
    <div class="icone-style">
      <i class="fas fa-comments"></i>
    </div>
    <div class="icone-style">
      <i class="fas fa-tools"></i>
    </div>
  </div>
</div>
<div class="trace-gradiant"></div>
