<div class="flex-c-c bg-gris">
  <div class="pop-up">
    <div class="cross">
      <i class="fas fa-times"></i>
    </div>
    <%= image_tag "session-show/popup.jpg", class: "pop-up-photo"%>
    <div class="trace-gradiant"></div>
    <div class="pop-up-content">
      <h1>FÉLICITATION !</h1>
      <div class="pop-up-stat flex-c-c">
        <div>
          <i class="fas fa-fire-alt"></i>
          <h3>80 kcal</h3>
        </div>
      </div>
      <div class="flex-c-c">
        <%= link_to "Voir mes statistiques", "#", class: "btn-1" %>
      </div>
    </div>
  </div>
</div>
