<div class="container-hp">
  <div class="grid">
    <div class="item1">
      <%= image_tag "home_page/home_p1", alt: "alttext" %>
    </div>
    <div class="item2">
      <h3>LE FITNESS SUR MESURE ENTRE AMIS POUR SE SENTIR BIEN DANS SA TÊTE.</h3>
      <%= link_to "COMMENCER", sessions_choice_path, class: "btn-3"  %>
    </div>
  </div>

</div>
