<div class="container-hp p-t-10">
  <div class="grid">
    <div class="item1">
      <%= image_tag "home_page/home_p1.jpg", alt: "alttext" %>
    </div>
    <div class="item2">
      <h3>LE FITNESS SUR MESURE ENTRE AMIS POUR SE SENTIR BIEN DANS SA TÊTE.</h3>
      <% if signed_in? %>
        <%= link_to "COMMENCER", sessions_choice_path, class: "btn-3"  %>
      <% else %>
        <%= link_to "COMMENCER", new_user_session_path, class: "btn-3"  %>
      <% end %>
    </div>
  </div>
</div>
<!-- <div class="container-l p-t-10">
  <div>
    <h1 class="roboto">À votre image</h1>
    <h1 class="roboto">et à votre rythme.</h1>
    <div class="flex-b-c">
      <div class="home-icone">
        <i class="fas fa-users"></i>
        <i class="fas fa-stopwatch"></i>
        <i class="fas fa-sliders-h"></i>
        <i class="fas fa-bullseye"></i>
        <i class="fas fa-dumbbell"></i>
      </div>
      <div>
        <h4>Seul ou entre amis via un module de vidéo live</h4>
        <h4>S’adapte à votre temps disponible</h4>
        <h4>S’adapte à votre niveau</h4>
        <h4>S’adapte à vos objectifs</h4>
        <h4>Aucun équipement nécessaire</h4>
      </div>
    </div>
    <a href="#", class="btn-4"></a>
  </div>
  <div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div> -->
