/*BUTTON PRIMARY*/
.btn-1{
  background: linear-gradient(90deg, #B67CFF 0%, #7100FF 50%, #B67CFF 100%);
  background-size: 200% auto;
  padding: 10px 30px;
  border-radius: 50px;
  color: white;
  transition: 0.5s;
  font-family: Nunito;
  &:hover {
    text-decoration: none;
    color: white;
    background-position: right center;
  }
}

/*BUTTON SECONDARY*/
.btn-2{
  padding: 10px 30px;
  border-radius: 50px;
  border: 1.5px solid $secondary;
  color: $secondary;
  font-family: Nunito;
  &:hover {
    text-decoration: none;
    color: $secondary;
  }
}

/*BUTTON BLACK GHOST DE LA HOME PAGE*/
.btn-3{
  padding: 10px 30px;
  color: #08050B;
  border: 1px solid #08050B;
  border-radius: 50px;
  background-color: transparent;
  &:hover {
    text-decoration: none;
    color: #08050B;
  }
}

.btn-submit-place{
    position: relative;
    top: 100px;
    left: -29px;
}

.cancel-button{
  position: absolute;
  right: 15px;
  bottom: 18px;
}
