// GLOBAL =====
.bg-blanc {
  background-color: white;
}

.p-x-5-0-15-0 {
  padding: 5px 0px 15px 0px;
}

// CHOICE =====
.card-choice-session {
  position: relative;
  border-radius: 15px;
  width: 550px;
  height: 300px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  margin-top: 10px;
  cursor: default;

  &:hover {
    transform: scale(1.02);
    transition: transform .3s ease;
  }

  .photo {
    background-position: center;
    width: 100%;
    height: 66%;
    background-size: cover;
  }
  h2 {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    padding: 0px 0px 10px 30px;
    font-family: Nunito;
  }
  i{
    padding-left: 30px;
    color: $grisfonce;
    font-size: 12px;
  }
  p {
    font-weight: bold;
    font-size: 12px;
    display: inline-flex;
  }
  a {
    margin: 0px 30px 0px 0px;
    align-self: flex-end;
  }
  .bg-blanc {
    height: 34%;
  }
}

.stretch {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border-blue {
  background-color: $secondary;
  width: 100%;
  height: 5px;
}

.border-violet {
  background: linear-gradient(90deg, #B67CFF 0%, #7100FF 100%);
  width: 100%;
  height: 5px;
}

.gradiant-white {
  position: absolute;
  bottom: 34%;
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(208, 208, 208, 0) 100%);
  width: 100%;
  height: 90px;
}
  // Solo
  #solo {
    background-image: image-url('sessions/solo.jpg');
    background-position-y: -100px;
  }

  // Multi
  #multi {
    background-image: image-url('sessions/multi.jpg');
    background-position-y: -112px;
  }
// ==========

// PREV & FAV SESSION
.card-prev-session {
  position: absolute;
  height: 100px;
  width: 350px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  margin-top: 10px;


  .calendrier {
    height: 500px;
  }

  &:hover {
    transform: scale(1.02);
    transition: transform .3s ease;
    cursor: pointer;
  }

  .photo {
    height: 100%;
    width: 33%;
    background-size: cover;
    background-position: center;
  }
  .b-p-x {
    background-position-x: -50px;
  }

    .gradiant-white {
      position: absolute;
      top: 0px;
      right: 67%;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      width: 40px;
      height: 100%;
    }
  }
  .fullheart {
    color: $secondary !important;
  }
  .edit_session_participant {
    .btn:focus {
      box-shadow: none;
    }
  }

  // Middle
  .content {
    padding: 10px 10px;
    h4 {
      color: $secondary;
      font-family: Nunito;
    }
    p {
      font-size: 13px;
      //padding-top: 5px;
    }
    i {
      color: $secondary;
      font-size: 14px;
    }

    .level-bar {
      margin-top: 5px;
      height: 4px;
      width: 15px;
      border-radius: 50px;
      background-color: $grisclair;
    }
    .active {
      background-color: #B67CFF;
    }
  }

  // Right
  .right-part {
    position: relative;
    height: 100%;
  }
  .fa-heart {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .far {
    color: $secondary;
  }
  .fas {
    color: $grisclair;
  }
  .fa-play {
    position: absolute;
    top: 5px;
    right: 4.5px;
    color: white;
    font-size: 10px;
    // padding-left: 10px;
    // padding-top: 7px;
  }
  .cercle-violet-play {
    position: absolute;
    bottom: 15px;
    right: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: linear-gradient(45deg, #B67CFF 0%, #7100FF 100%);

  }

  .cercle-violet-calendrier {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(45deg, #B67CFF 0%, #7100FF 100%);
  }

// BODY-AREA =====
.card-body-area {
  position: relative;
  border-radius: 8px;
  height: 120px;
  width: 140px;
  background-size: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  border: 2px solid white;
  &:hover {
    border: 2px solid #B67CFF;
    p {
      color: #B67CFF;
    }
  }
  .white-box {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 33%;
  }
  p {
    font-weight: 600;
    font-family: Nunito;
    padding: 5px 10px;
    color: $grisfonce;
  }
}
.gen {
  background-image: image-url('body_area/general.jpg');
}
.hdc {
  background-image: image-url('body_area/haut_du_corps.jpg');
  background-position-x: -40px;
  background-position-y: -40px;
}
.bdc {
  background-image: image-url('body_area/bas_du_corps.jpg');
  background-position-x: -20px;
  background-position-y: -25px;
}
// ==========

// INVITE FRIEND SESSION =====
.card_invite_session {
  padding: 12px 15px;
  width: 100%;
  height: 100%;
  &:hover {
    cursor: pointer;
    background-color: $blanc;
    .btn-2 {
      border: 0.5px solid #B67CFF;
      color: #B67CFF;
    }
  }
  .photo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-size: cover;
    margin-right: 10px;
  }
  .btn-2 {
    padding: 2px 20px;
    border: 0.5px solid $secondary;
    background-color: transparent;
    outline:none;
    &:hover {
      color: $blanc;
      border: none;
      background-color: #B67CFF;
    }
  }
  .btn-invite {
    color: $blanc;
    border: none;
    background-color: #B67CFF;
    outline:none;
  }
  .card-invite {
    &:hover {
      .btn-2 {
        border: none;
        color: $blanc;
    }
    }
  }
}

// INVITE FRIEND CHATROOM =====
.card_invite_chatroom {
  padding: 12px 15px;
  &:hover {
    cursor: pointer;
    background-color: $blanc;
    .btn-2 {
      border: 0.5px solid #B67CFF;
      color: #B67CFF;
    }
  }
  .photo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-size: cover;
    margin-right: 10px;
  }
  .btn-2 {
    padding: 2px 20px;
    border: 0.5px solid $secondary;
    background-color: transparent;
    outline:none;
    &:hover {
      color: $blanc;
      border: none;
      background-color: #B67CFF;
    }
  }
  .btn-invite {
    color: $blanc;
    border: none;
    background-color: #B67CFF;
    outline:none;
  }
  .card-invite {
    &:hover {
      .btn-2 {
        border: none;
        color: $blanc;
    }
    }
  }
}
// STATISTIQUES =====
.stat-card {
  border: 1px solid $secondary;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 20px 30px;
  text-align: center;
  i {
    font-size: 50px;
    color: $secondary;
  }
  p {
    font-size: 14px;
    color: $secondary;
  }
  .cercle-violet {
    height: 80px;
    width: 80px;
    background: linear-gradient(45deg, $secondary 0%, #B67CFF 100%);
    border-radius: 50px;
  }
  .stat-card-num {
    color: $secondary;
    font-size: 28.43px;
    text-align: center;
    font-family: nunito;
  }
  h3 {
    color: $secondary;
    padding-top: 10px;
  }
}

// AMIS =====

.card-amis {
  position: relative;
  border-radius: 15px;
  width: 350px;
  height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #D0D0D0;
  transition: transform .3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;

  &:hover {
    transform: scale(1.02);
    transition: transform .3s ease;
  }

  p {
    margin-top: -5px;
    margin-left: 10px;
  }

  img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
  }

  a {
    text-decoration: none;
    color: $noir;
    font-family: Nunito;
    &:hover {
      color: $secondary;
    }
  }
}
