// GLOBAL =====
.bg-blanc {
  background-color: white;
}

// CHOICE =====
.card-choice-session {
  position: relative;
  border-radius: 15px;
  width: 412px;
  height: 263px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  .photo {
    background-position: center;
    width: 100%;
    height: 66%;
    background-size: cover;
  }
  h2 {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    padding: 0px 0px 10px 30px;
    font-family: Nunito;
  }
  p {
    padding: 0px 0px 0px 30px;
    font-weight: bold;
    font-size: 16px;
    display: inline-flex;
  }
  a {
    margin: 0px 30px 0px 0px;
    align-self: flex-end;
  }
  .bg-blanc {
    height: 34%;
  }
}

.stretch {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border-blue {
  background-color: $secondary;
  width: 100%;
  height: 5px;
}

.gradiant-white {
  position: absolute;
  bottom: 34%;
  background: linear-gradient(360deg, #FFFFFF 0%, rgba(208, 208, 208, 0) 100%);
  width: 100%;
  height: 90px;
}
  // Solo
  #solo {
    background-image: url('https://res.cloudinary.com/dvlbdpxht/image/upload/v1598620435/solo_bs5fbt.jpg');
  }

  // Multi
  #multi {
    background-image: url('https://res.cloudinary.com/dvlbdpxht/image/upload/v1598620438/multi_zfrc30.jpg');
  }
// ==========

// PREV & FAV SESSION
.card-prev-session {
  position: absolute;
  height: 120px;
  width: 320px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  .photo {
    height: 100%;
    width: 33%;
    background-image: url('body_area/general.jpg');
    background-size: cover;
    background-position: center;
    .gradiant-white {
      position: absolute;
      top: 0px;
      right: 67%;
      background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
      width: 40px;
      height: 100%;
    }
  }
  // Middle
  .content {
    padding: 10px 10px;
    h4 {
      color: $secondary;
      font-family: Nunito;
    }
    p {
      font-size: 13px;
      padding-top: 5px;
    }
    .level-bar {
      margin-top: 5px;
      height: 4px;
      width: 20px;
      border-radius: 50px;
      background-color: $grisclair;
    }
  }

  // Right
  .right-part {
    position: relative;
    height: 100%;
  }
  .fa-heart {
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .far {
    color: $secondary;
  }
  .fas {
    color: $grisclair;
  }
  .fa-play {
    color: white;
    width: 10px;
    padding-left: 10px;
    padding-top: 7px;
  }
  .cercle-violet {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: linear-gradient(45deg, #B67CFF 0%, #7100FF 100%);
  }
}
// ==========

// BODY-AREA =====
.card-body-area {
  position: relative;
  border-radius: 8px;
  height: 120px;
  width: 140px;
  background-image: url('body_area/general.jpg');
  background-size: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  &:hover {
    border: 2px solid #B67CFF;
    p {
      padding-top: 6px;
      padding-left: 8px;
      color: #B67CFF;
    }
  }
  .white-box {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 33%;
  }
  p {
    font-weight: 600;
    font-family: Nunito;
    padding: 5px 10px;
  }
}
// ==========

// INVITE FRIEND SESSION =====
.card_invite_session {
  padding: 12px 15px;
  width: 100%;
  height: 100%;
  &:hover {
    background-color: white;
  }
  .photo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-size: cover;
    margin-right: 10px;
  }
  .btn-2 {
    padding: 2px 20px;
    border: 0.5px solid $secondary;
    background-color: transparent;
    &:hover {
      color: $blanc;
      border: none;
      background-color: $secondary;
    }
  }
}
