@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

.timer-group {
  box-sizing: border-box;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 280px;
  margin: auto;
  position: relative;
  width: 280px;
/*  margin-top: 27px;
  margin-left: 33px;*/
}

.timer {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.timer:after {
  background: #111;
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 10px;
  position: absolute;
  width: 80px;
  top: 10px;
}

.timer .half-circle {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.timer .half-circle span {
  border: 30px solid #B67CFF;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(225deg);
  width: 0;
}

.timer .half-circle.left {
  transform: rotate(180deg);
}

.timer .animated {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer .left .animated {
  animation-name: leftSpin;
}

.timer .right .animated {
  animation-name: rightSpin;
}

.timer.total {
  background: rgba(182, 124, 255,0.5) ;
  height:280px;
  left: 0;
  width: 280px;
  top: 0;
}

.timer.total .half-circle span {
  border-top-color: #7100FF;
  border-right-color: #7100FF;
  border-width: 140px;
}

.timer.total:after {
  height: 240px;
  left: 20px;
  width: 240px;
  top: 20px;
}

.timer.period {
  background: rgba(0, 0, 0, .2);
  height: 230px;
  left: 25px;
  width: 230px;
  top: 25px;
}

.timer.period .half-circle span {
  border-top-color: $secondary;
  border-right-color: $secondary;
  border-width: 115px;
}

.timer.period:after {
  height: 190px;
  left: 20px;
  width: 190px;
  top: 20px;
}

.clock {
  border-radius: 50%;
  height: 176px;
  left: 52px;
  padding: 45px 40px 0;
  position: absolute;
  width: 176px;
  text-align: center;
  top: 100px;
}

.clock h2 {
  font-weight: 300;
  font-size: 30px;
  color:white;
}

.clock p {
  border-radius: 20px;
  font-size: 50px;
  font-weight: 400;
  position: absolute; /*!!!!!!!!!!!!!!!!!*/
  top: -30px;
  width: 140px;
  left: 20px;
  color: white;

}

.progress {
  /*background: rgba(255,255,255,0.1);*/
  background: white;
  margin: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 50px;
  position: relative;
  padding: 0 5px;
  height: 25px;
  width: 500px;
}

.progress-value.animated {
  animation-name: load;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.progress-value.period {
  /*background: rgba(0, 255, 255, .4);*/
  background: blue;
}

.progress-value.total {
  background: blue;
  /*background: rgba(255, 0, 255, .4);*/
}

.progress-value {
  border-radius: 50px;
  height: 20px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes leftSpin {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes rightSpin {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
