.navbar-home {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  p {
    color: $blanc;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $noir;
    }
  }
  .logo {
    width: 100px;
  }
}

#navbar_global {
  position: sticky;
  top: 0px;
  z-index: 1;
  .navbar_global {
    background-color: white;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  }
  .logo {
    width: 100px;
  }
}

#connexion {
  font-size: 12px;
  padding: 5px 20px;
  color: $blanc;
  border-color: $blanc;
}

.trace-gradiant {
  width: 100vw;
  height: 5px;
  background: linear-gradient(89.99deg, #B67CFF 0%, #00DBD8 100%);
}

.icone {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00DBD8;
}

.icone-small {
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00DBD8;
}

.icone-style {
  border: solid 0.2px #00DBD8;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  cursor: pointer;
  i {
    color: #00DBD8;
  }
  &.home {
    border: solid 0.2px $blanc;
    i {
    color: $blanc;
    }
  }
}
  #noir {
    color: $noir;
  }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.avatar-navbar {
  margin-right: 10px;
  text-decoration: none;
  color: $noir;
  font-family: Nunito;
  font-size: 16px;
  &:hover {
    text-decoration: none;
  }
}

.avatar-photo {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

#belt {
  display:flex;
  flex-direction: column;
  position: relative;
}

li {
  display: block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: graber;
}

.dropdown-belt {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  right: 0px;
  top: 15px;
  display: none;
}

ul:hover li ul,
.dropdown-belt:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.notif-container{
}

.notif-item {
  border: 1px solid rgba(166, 166, 166, 0.2);
  border-radius:4px;
  background: rgba(245, 244, 246, 0.9) ;
  clear: both;
  width: 300px;
  margin: 5px;
  display: flex;
  align-item:center;
  justify-content:space-between;
  color: rgb(71, 166, 178);
  padding: 5px;
}

.notif-item a:hover {
  // text-decoration:none;
  // color:red;
}

.red-notif {
  width:20px;
  height: 20px;
  border-radius:50%;
  background: red;
  border: 0.2px solid white;
  color: white;
  position: relative;
  font-size: 14px;
  text-align: center;
  padding: 0.1rem;

}
