.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar-home {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

#navbar_global {
  background-color: white;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding-left: 50px;
  padding-right: 50px;
}

.trace-gradiant {
  width: 100vw;
  height: 5px;
  background: linear-gradient(89.99deg, #B67CFF 0%, #00DBD8 100%);
}

.icone {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #00DBD8;
}

.icone-style {
  border: solid 0.2px #00DBD8;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
}

#navbar_global > div > img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
