.bg-gris {
  z-index: 1;
  position: absolute;
  top: 0px;
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
  .pop-up {
    position: relative;
    height: 600px;
    width: 550px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    .trace-gradiant {
      width: 100%;
    }
    h1 {
      text-align: center;
    }
    h3 {
      color: #00DBD8;
    }
    .fa-fire-alt{
      color: #00DBD8;
      font-size: 80px;
      padding-bottom: 20px;
    }
  }
}

.pop-up-content {
  padding: 15px 75px;
}

.pop-up-photo {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 33%;
  border-radius: 15px 15px 0px 0px;
}

.pop-up-stat {
  width: 100%;
  height: 250px;
  text-align: center;
}

.cross {
  position: absolute;
  left: 95%;
  bottom: 95%;
  background-color: white;
  border: 3px solid $secondary;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  padding: 10px 16px;
  border-radius: 50px;
  color: white;
  .fa-times {
    color: $secondary;
  }
}



.bg-gris-small {
  z-index: 1;
  position: absolute;
  top: 288px;
  right: 175px;
  background-color: rgba(0, 0, 0, 0.05);
  height: 50vh;
  width: 56vw;
  border-radius: 5px;
}

.pop-up-add {
right: 323px;
height: 385px;
width: 420px;
background-color: white;
border-radius: 15px;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
overflow: auto;
}

