// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// TRAIT ======

.trait{
  border-bottom: 2px solid rgb(208, 208, 208);
  margin-top: 20px;
  margin-bottom: 20px;
}

