// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/sessions_choice.scss";

/*classe container*/
.container-l {
  margin: 100px auto;
}
.container-s {
  margin: 40px auto;
}

// POLICE =====
h1 {
  font-size: 50.52px;
  color: $noir;
  margin: 0px;
}

h2 {
  font-size: 37.9px;
  color: $noir;
  margin: 0px;
}

h3 {
  font-size: 28.43px;
  color: $noir;
  margin: 0px;
}

h4 {
  font-size: 21.33px;
  color: $noir;
  margin: 0px;
}

p {
  font-size: 16px;
  color: $noir;
  margin: 0px;
}

// PADDING =====
.p-b-20 {
  padding-bottom: 20px;
}

.p-x-20 {
  padding: 20px 0px;
}

// WIDTH =====
.width-100 {
  width: 100%;
}

// FLEX =====
.flex-g-1 {
  flex-grow: 1;
}

.flex-b-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-b-e {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
