// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// TRAIT ======

.min_height_100 {
  min-height: 100vh;
}

.padding-container {
  padding: 0px 0px 100px 0px;
}

body {
  background-color: #F5F4F6;
}

.trait{
  border-bottom: 2px solid rgb(208, 208, 208);
  margin-top: 20px;
  margin-bottom: 20px;
}

/*classe container*/
.container-l {
  width: 86%;
  margin: 0 auto;
}

.container-s {
  padding: 40px auto;
  width: 94%;
}

.container-white {
  background-color: rgb(255, 255, 255);
  padding: 20px 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  margin-top: 30px;
}

// POLICE =====
.roboto {
  font-family: Roboto;
}

h1 {
  font-size: 50.52px;
  color: $noir;
  margin: 0px;
}

h2 {
  font-size: 37.9px;
  color: $noir;
  margin: 0px;
}

h3 {
  font-size: 28.43px;
  color: $noir;
  margin: 0px;
}

h4 {
  font-size: 21.33px;
  color: $noir;
  margin: 0px;
}

p {
  font-size: 16px;
  color: $noir;
  margin: 0px;
}

// PADDING =====
.p-b-20 {
  padding-bottom: 20px;
}

.p-x-20 {
  padding: 20px 0px;
}

// MARGIN =====
.m-t-40 {
  margin-top: 40px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-r-10 {
  margin-right: 10px;
}

// WIDTH =====
.width-100 {
  width: 100%;
}

// FLEX =====
.flex-g-1 {
  flex-grow: 1;
}

.flex-b-c{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-b-e {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

// DECORATION =====
.d-none {
  text-decoration: none;
}

// OVERFLOW HIDDEN =====
.over-hide {
  overflow: hidden;
}

// Z INDEX =====
.z-i-1 {
  z-index: 1;
}

.z-i-2 {
  z-index: 2;
}

.z-i-3 {
  z-index: 3;
}
